* {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.image-preview img {
  max-width: 100%;
  width: auto;
}

.app {
  display: flex;
}

.sidebar {
  background: #ffffff;
  width: 400px;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.workspace {
  width: 100%;
  margin-left: 400px;
  padding: 50px;
}

.banner-preview {
  width: 300px;
  height: 250px;
  border: 1px solid #000;
}
